.page{
    width:100%;
    height:100vh;
    display: flex;
    background-color:#29282c;
    color:#d4d4d5;
}
.page-title{
    border-bottom:1px solid #fff;
    padding:0 0 4px 0;
    margin:10px 0;
    font-size:18px;
    color:#fff;
}
.icon{
    width:25px;
    height:25px;
    display: inline-block;
    background-size: cover;
}
.icon-next{
    background-image: url("../img/doubleDown.png");
}

/*首页样式*/
.first-page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    width:70px;
    height:70px;
    border-radius: 50%;
    overflow: hidden;
}
.first-page-context{
    margin-top:100px;
    text-align: center;
}
.first-page-hgroup>p {
    color:#ccc;
}
.first-page-nextBtn{
    margin-top:100px;
    background-color:transparent;
    border:none;
}
.project-page{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #29282c;
}
.project-page h1{
    font-size:20px;
}
.project-list{
    max-width:900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding:10px;
}
.project-item{
    flex-basis:20%;
    display: flex;
    flex-direction: column;
    margin:5px;
    padding: 10px 10px 0;
    color:#aaa;
    background-color: #fff;
    box-shadow: 0 1px 2px #fff;
}
.project-item>a{
    text-align:right;
    color:#3a8bbb;
}
.about-page{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-page>dt{
    color: #ccc;
    font-size: 12px;
}
.about-page>dt>dl>a{
    color:#ccc;
}

@media (min-width: 720px) {
    .project-item {
        flex-basis: 20%;
    }
}
@media (max-width: 720px) {
    .project-item {
        flex-basis: 20%;
    }
}
@media (max-width: 620px) {
    .project-item {
        flex-basis: 25%;
        padding: 5px 5px 0;
    }
}
@media (max-width: 520px) {
    .project-item {
        flex-basis: 45%;
    }
}