@media screen and (max-width: 500px) {
  .resume-page-frist .resume-title {
    display: none;
  }
  .resume-job {
    font-size: 12px;
  }
  .circle-head-img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .resume-project-name {
    font-size: 0;
  }
}
@media screen and (max-width: 900px) {
  .resume-project-content {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 700px) {
  .resume-minScr-href {
    display: block;
  }
  .resume-project-content {
    flex-basis: 40%;
  }
  .resume-project-info {
    font-size: 0;
  }
  .resume-project-contentWrap,
  .resume-project-wrap {
    justify-content: center;
  }
  .resume-project-img {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
