.wrap {
  overflow: hidden;
}
.resume-full-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.resume-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #302457;
}
.resume-page-frist {
  flex-direction: column;
  color: #fff;
  height: 200px;
  border-radius: 50%;
  overflow-y: hidden;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmutdb27pjQv7yF0_FlZcKKvPY-LkL81uRH62YURChOjk5PqFJ);
  background-size: cover;
  background-repeat: no-repeat;
}
.resume-psName {
  margin: 20px 0 10px;
  font-size: 100px;
  text-align: center;
}
.resume-job {
  width: 42%;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 3px;
  margin: 0;
}
.resume-aboutMore-title,
.resume-project-title,
.resume-skill-title {
  flex: 0 0 100%;
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
}
.resume-page-thirty {
  transform: translateY(200%);
  color: #fff;
}
.resume-page-forty {
  transform: translateY(300%);
  color: #fff;
}
.resume-project-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-top: 5px;
}
.resume-project-info {
  margin-top: 5px;
  letter-spacing: 3px;
  line-height: 1.3em;
}
.resume-aboutMore-href {
  margin: 0 auto;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon-git {
  background-image: url(../img/git-7e636d0a1f.svg);
}
