.wrap {
  overflow: hidden;
}
.resume-full-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.resume-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b4242;
}
.resume-page-frist {
  flex-direction: column;
  color: #fff;
}
.resume-page-frist .resume-title {
  margin: 10px;
}
.resume-page-frist .resume-title span {
  display: inline-block;
}
.resume-imgAvatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow-y: hidden;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmutdb27pjQv7yF0_FlZcKKvPY-LkL81uRH62YURChOjk5PqFJ);
  background-size: cover;
  background-repeat: no-repeat;
}
.resume-psName {
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
}
.resume-job {
  max-width: 800px;
  margin: 0 50px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 3px;
}
.resume-job-inline::after {
  content: '|';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.circle-head-img {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 50%;
  overflow: hidden;
}
.circle-head-img img {
  width: 100%;
}
.resume-page-second {
  transform: translateY(100%);
  color: #fff;
}
.resume-aboutMore-title,
.resume-project-title,
.resume-skill-title {
  flex: 0 0 100%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
}
.resume-title > span {
  padding: 10px;
  border-bottom: 1px solid #fff;
}
.resume-page-thirty {
  transform: translateY(200%);
  color: #fff;
}
.resume-page-forty {
  transform: translateY(300%);
  color: #fff;
}
.resume-project-wrap {
  width: 80%;
}
.resume-project-contentWrap,
.resume-project-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.resume-project-content {
  flex: 0 0 45%;
  font-size: 13px;
  text-align: left;
  margin-top: 10px;
}
.resume-project-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-top: 5px;
}
.resume-project-img img {
  width: 100%;
}
.resume-project-description {
  margin-left: 70px;
}
.resume-project-name {
  font-size: 1.4em;
  margin: 0;
}
.resume-project-info {
  margin-top: 5px;
  letter-spacing: 3px;
  line-height: 1.3em;
}
.resume-skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.resume-skill-label {
  display: inline-block;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 20px;
  font-size: 13px;
  background-color: #807b7b;
  text-align: center;
}
.resume-aboutMore-href {
  margin: 0 auto;
  text-align: center;
}
.resume-aboutMore-href a {
  display: block;
  margin: 10px 0;
  color: #fff;
  text-decoration: none;
}
.resume-aboutMore-href .icon {
  margin-right: 5px;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon-react {
  background-image: url(../img/react-8e26f22094.svg);
}
.icon-git {
  background-image: url(../img/git-7e636d0a1f.svg);
}
.icon-juejin {
  background-image: url(../img/juejin-a7995ad8a1.svg);
}
