*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.mui-scroll-wrapper{
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#all{
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
    color: #fff;
    overflow-x: hidden;
}
.city{
    padding: 10px 0;
    position: fixed;
    top: 0;
    color: white;
    z-index: 2;
    background: rgba(21, 28, 53, 0.7);
    width: 100%;
}
.temperature{
    margin-top: 50px;
}
.updateTime{
    font-size: 0.8rem;
    padding-left: 10px;
    margin-top: 15px;
}

.specificValue{
    display: block;
    margin-top: 35px;
}
.degrees{
    font-size: 5.5rem;
    margin-left: 10px;
    display: inline-block;
    font-weight: lighter;
}
.weather{
    display: inline-block;
}
.weather span{
    display: block;
}

/* Ã¦ÂÂÃ§Â¤ÂºÃ¨Â¯Â­ */
.promptingTitle{
    width: 85%;
    height: 30px;
    border-radius: 15px;
    margin: 20px auto;
    background:rgba(40,62,122,0.5);
    font-size:0.8rem;
    padding: 0 20px;
}
.promptingTitle span{
    color: #fff;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
/* Ã¤Â»Å Ã¦â€”Â¥Ã¦ËœÅ½Ã¥Â¤Â©Ã¥Â¤Â©Ã¦Â°â€Ã§Å Â¶Ã¥â€ Âµ */
.twoday-wrap{
    display:flex;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    background:rgba(40,62,122,0.3);
    font-size: 0.9rem;
}
.twoday-content{
    width: 50%;
    height: 100%;
    padding: 10px 15px;
    font-size: 12px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    position: relative;
}
.twoday-content:nth-child(1)::after{
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    content: '';
    right: 0;
    background-color: #fff;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    opacity: 0.3;
}
.twoday-info{
    display: inline-block;
}
.twoday-info-inline{
    margin-bottom: 6px;
}
.twoday-type{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.twoday-type img{
    width: 25px;
}
.twoday-quailty{
    display: inline-block;
    margin-left: 5px;
    color:#fff;
}
.allWeak-head{
    height: 40px;
    margin: 10px 10px 0 10px;
    background-color: rgba(57,65,84,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom: none;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}
.allWeak-head.active .list{
    background: rgba(211, 211, 211, 0.6);
}
.allWeak-head.active .trend{
    background: transparent;
}
.circular{
    width: 110px;
    height: 21px;
    border-radius: 25px;
    background: rgba(0,0,0,0.4);
    margin: 10px auto;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
}
.trend{
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 25px;
    background: rgba(211, 211, 211, 0.6);
}
.list{
    width: 50%;
    height: 100%;
    float: right;
    border-radius: 25px;
}
.allDay-w-table{
    height: 200px;
    padding: 0 10px;
    background-color: rgba(57,65,84,0.3);
    margin: 0 10px;
    border: 1px solid rgba(255,255,255,0.3);
}
.mui-slider-wrap{
    position: relative;
    background-color: rgba(57,65,84,0.3);
    margin: 0 10px;
    /* margin-top: -10px; */
    display: flex;
    border: 1px solid rgba(255,255,255,0.3);
}
.allWeek-w-table{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 114px;
}
.allWeek-w-row-wrap{
    width: 14.28%;
    text-align: center;
    display: inline-block;
    position:relative;
}
.allWeek-w-row-wrap:after{
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    content: '';
    top:0;
    right: -1px;
    background-color: #fff;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
    opacity: 0.3;
}
.allWeek-w-row-wrap.last:after{
    display:none;
}
.allWeek-w-row-wrap p{
    margin:0;
    color: white;
    font-size: 12px;
    width: 100%;
    padding: 0 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.allWeek-w-row-top{
    margin-bottom: 88px;
    padding-top: 5px;
    /* width: 100%; */
}
.allWeek-w-quality{
    display:inline-block;
    margin-bottom: 5px;
}
.allWeek-w-row-bottom{
    padding-bottom: 10px;
}

/* 指数相关 */

.weatherIndex{
    width: 100%;
    margin-top: 10px;
    background-color: rgba(57,65,84,0.3);
    font-size: 0.8rem;
}
.tipTitle{
    width: 100%;
    height: 50px;
    background: rgba(40,62,122,0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.titleImg{
    display: inline-block;
    width: 15%;
    height: 100%;
}
.titleImg img{
    width: 40px;
    /* padding-top: 5px; */
}
.titleFont{
    display: inline-block;
    width: 80%;
    height: 100%;
}
.titleFont span{
    display: block;
}
.sign{
    margin-right:-30px;
}

.sign .mui-grid-view.mui-grid-9 .mui-media{
    left:1px;
}

/* 地区选择 */
.city-select-aside{
    background-color:#0e1427!important;
    opacity: 0.9;
    color:white;
}

.allWeek-w-table-wrap{
    position: relative;
    background-color: rgba(57,65,84,0.3);
    display: flex;
    justify-content: space-around;
}

/* 九宫格 */
.sign .mui-table-view-cell{
    padding: 0;
}
.sign .mui-table-view-cell.mui-collapse .mui-table-view{
    margin-top:0
}
.sign .mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){
    padding: 5px 0;
}
.sign .mui-table-view-cell.mui-media.mui-col-xs-4.mui-col-sm-4.mui-active{
    /* background-color: rgba(255, 255, 255, 0.3) */
    background-color: transparent;
}

/* 列表 */
#allWeek-w-table-list{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background-color: rgba(57,65,84,0.3);
}
.mui-slider-item ul li{
    position:relative;
    width: 100%;
    height: 45px;
    line-height: 45px;
    list-style:none;
    display: flex;
    align-items: center;
    flex: 1;
}
.mui-slider-item ul li:after{
    content:'';
    width: 100%;
    height:1px;
    background: rgba(255,255,255,0.5);
    bottom:0;
    transform: scaleY(0.5);
    position:absolute;
}
.mui-slider-item ul li:last-child:after{
    display:none;
}
.allWeek-slide-item{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.allWeek-slide-item.weather-condition{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weather-img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.iconSymbol{
    font-size: 30px;
}
.tips{
    width: 5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align:center;
}