.weather-img-mai{
  background-image: url(../images/weather/weather_mai.svg);
}
.weather-img-duoyun{
  background-image: url(../images/weather/weather_duoyun.svg);
}
.weather-img-wu{
  background-image: url(../images/weather/weather_wu.svg);
}
.weather-img-yangsha{
  background-image: url(../images/weather/weather_yangsha.svg);
}
.weather-img-fuchen{
  background-image: url(../images/weather/weather_fuchen.svg);
}
.weather-img-shachenbao{
  background-image: url(../images/weather/weather_shachenbao.svg);
}
.weather-img-qiangshachenbao{
  background-image: url(../images/weather/weather_qiangshachenbao.svg);
}
.weather-img-qing{
  background-image: url(../images/weather/weather_qing.svg);
}
.weather-img-yin{
  background-image: url(../images/weather/weather_yin.svg);
}
.weather-img-zhenyu{
  background-image: url(../images/weather/weather_zhenyu.svg);
}
.weather-img-xiaoyu{
  background-image: url(../images/weather/weather_xiaoyu.svg);
}
.weather-img-zhongyu{
  background-image: url(../images/weather/weather_zhongyu.svg);
}
.weather-img-dayu{
  background-image: url(../images/weather/weather_dayu.svg);
}
.weather-img-baoyu{
  background-image: url(../images/weather/weather_baoyu.svg);
}
.weather-img-dabaoyu{
  background-image: url(../images/weather/weather_dabaoyu.svg);
}
.weather-img-tedabaoyu{
  background-image: url(../images/weather/weather_tedabaoyu.svg);
}
.weather-img-leizhenyu{
  background-image: url(../images/weather/weather_leizhenyu.svg);
}
.weather-img-leizhenyubanbingbao{
  background-image: url(../images/weather/weather_leizhenyubanbingbao.svg);
}
.weather-img-yujiaxue{
  background-image: url(../images/weather/weather_yujiaxue.svg);
}
.weather-img-xiaoxue{
  background-image: url(../images/weather/weather_xiaoxue.svg);
}
.weather-img-zhongxue{
  background-image: url(../images/weather/weather_zhongxue.svg);
}
.weather-img-daxue{
  background-image: url(../images/weather/weather_daxue.svg);
}
.weather-img-zhenxue{
  background-image: url(../images/weather/weather_zhenxue.svg);
}
.weather-img-dongxue{
  background-image: url(../images/weather/weather_dongxue.svg);
}
.weather-img-baoxue{
  background-image: url(../images/weather/weather_baoxue.svg);
}
/* http://www.iconfont.cn/collections/detail?cid=8738 */