.first-page{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:100;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.first-page>p{
    padding:0 20px;
    font-size:15px;
}
.first-page>input{
    font-size:13px;
    border:1px solid #ccc;
    background-color: transparent;
    padding:5px 10px;
    margin:20px;
}
/*通用样式*/
.hide{
    display: none;
}
.fadeOut{
    opacity: 0;
    transition:opacity .3s;
}
.icon{
    margin:0 8px;
    display:inline-block;
    background-size:cover;
}
/*icon样式*/

.icon-back{
    width:20px;
    height:20px;
    background-image: url(../img/icon-back.png);
}
.icon-person{
    width:25px;
    height:25px;
    background-image: url(../img/icon-person.png);
}
.icon-talk{
    width:25px;
    height:25px;
    background-image: url(../img/icon-talk.png);
}
.icon-smile{
    width:25px;
    height:25px;
    background-image: url(../img/icon-smile.png);
}
.icon-add{
    width:25px;
    height:25px;
    background-image: url(../img/icon-add.png);
}
/*微信聊天窗口*/

.wechat-page{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
}

.wechat-page.selecting .wechat-input{
    bottom: 190px;
    transition: bottom 0.5s;
}
.wechat-page.selecting .chat-list{
    bottom: 235px;
    transition: bottom 0.5s;
}

/*头部样式*/

.nav{
    width:100%;
    height:50px;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    background-color:#2b2b2b;
    color:white;
}
.nav-back{
    display: flex;
    align-items: center;
    font-size:16px;
}
.nav-name{
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     line-height: 50px;
     font-size:18px;
}
.nav-person{
    display: flex;
    align-items: center;
}

/*消息列表*/

.chat-list{
    position: fixed;
    top:50px;
    left:0;
    right:0;
    bottom:45px;
    overflow-y: scroll;
    background-color:#efefef;
}
.message-item{
    display: flex;
    align-items: center;
    margin:10px 0;
}
.avatar{
    width:40px;
    height:40px;
    margin:0 10px;
}
.message-item-right{
    flex-direction: row-reverse;
}
.message-item .message-bubble:before{
    content: '';
    position: absolute;
    display: inline-block;
    width:7px;
    height:7px;
    transform: rotate(-45deg);
}
.message-item-left .message-bubble:before {
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    left:-5px;
    top:11px;
    background-color: #fff;
}
.message-item-right .message-bubble:before {
    border-bottom:1px solid #9eea6a;
    border-right:1px solid #9eea6a;
    right:-5px;
    top:11px;
    background-color: #9eea6a;
}
.message-bubble{
    position:relative;
    max-width: 250px;
    padding:8px;
    border:1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size:15px;
    /*font-weight: bolder;*/
}
.message-item-right .message-bubble{
    background-color: #9eea6a;
    border-color:#9eea6a;
}

/*消息输入框*/

.wechat-input{
    width:100%;
    height:45px;
    position: absolute;
    bottom:0;
    display: flex;
    justify-content: center;
    border-top:1px solid #ebebeb;
    z-index: 99;
    background-color: #f4f4f4;
}
.wechat-input > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wechat-input .icon{
    width:30px;
    height:30px;
}
.wechat-input-txt>input{
    width: 100%;
    border:none;
    border-bottom:1px solid #d8d8d8;
    background-color: transparent;
}
.wechat-input-txt{
    flex:4;
}

.select-list{
    width:100%;
    top:45px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    border-top: 1px solid #ebebeb;
}
.select-list .avatar{
    margin:0 0 0 10px;
}